<mat-form-field>
  <mat-label>Image Host</mat-label>
  <mat-select [formControl]="control">
    <mat-select-trigger>
      <span class="vertical-center">
        <img [src]="getHostIcon(control.value)" [alt]="getHostName(control.value) + ' icon'" class="host-icon" />
        {{ getHostName(control.value) }}
      </span>
    </mat-select-trigger>

    @for (host of hosts; track host) {
      <mat-option [value]="host">
        <span class="vertical-center">
          <img [src]="getHostIcon(host)" [alt]="getHostName(host) + ' icon'" class="host-icon" />
          {{ getHostName(host) }}
        </span>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
