@import 'ogm-app-theme';
@import 'variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: $link-color;
}

.vertical-center {
  display: flex;
  align-items: center !important;
}

.flex-spacer {
  flex-grow: 1;
}

.hide {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.mat-mdc-icon-button.small-icon-button {
  width: 32px;
  height: 32px;
  padding: 4px;

  .mat-mdc-button-touch-target {
    width: 32px;
    height: 32px;
  }

  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}
