@use 'extends';

:host {
  @extend %basic-container;
  flex-direction: column;

  .admin-content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    overflow: auto;

    .tags,
    .gallery-metadata {
      flex-grow: 1;
      min-width: 320px;
      display: flex;
      overflow: auto;
      max-height: 100%;
      width: 1px;
    }
  }
}
