@import 'variables';

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 $side-space-width $side-space-width $side-space-width;
  overflow: auto;

  .admin-content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    overflow: auto;

    .tags,
    .gallery-metadata {
      flex-grow: 1;
      min-width: 320px;
      display: flex;
      overflow: auto;
      max-height: 100%;
    }
  }
}
