@if (mediaQueryService.isMinimumDesktopLayout$ | async) {
  <div class="tags">
    <ogm-tags (tagClicked)="addTagToQuery($event)" />

    <mat-divider [vertical]="true" class="divider" />
  </div>
}

<div class="galleries">
  <form [formGroup]="filterForm" (submit)="findGalleries()" class="filter-form vertical-center">
    <ogm-filter-query-input #queryInput formControlName="filter" class="filter-query" />
    <div class="rest-form">
      <button mat-raised-button color="primary" type="submit">Apply filter</button>
      <mat-checkbox formControlName="randomizeOrder">Randomize order</mat-checkbox>
    </div>
  </form>

  @if (!(loading | async)) {
    <ogm-autocomplete-input isSearchInput [formControl]="searchControl" class="gallery-search-field" />
    <div class="gallery-list">
      @for (gallery of galleries | async; track gallery.id; let isFirst = $first) {
        @if (isFirst) {
          <mat-divider />
        }
        <a [routerLink]="'/galleries/' + gallery.id" class="gallery-link">
          <div class="gallery" matRipple>
            <h3 class="gallery-name vertical-center">
              {{ gallery.name?.length > 0 ? gallery.name : 'Unnamed Gallery' }}
              @for (tag of gallery.tags; track tag.tagId) {
                @if (tag.showTag) {
                  <mat-chip color="primary" highlighted class="tag-chip">{{ tag.name }}</mat-chip>
                }
              }
            </h3>
            @for (metadata of gallery.metadata; track metadata.galleryMetadataId) {
              @if (metadata.value?.length > 0) {
                <mat-chip color="accent" highlighted class="metadata-chip">
                  {{ metadata.name }}:
                  @switch (metadata.type) {
                    @case (GalleryMetadataType.Date) {
                      {{ metadata.value | date: 'dd.MM.YYYY' }}
                    }
                    @default {
                      {{ metadata.value }}
                    }
                  }
                </mat-chip>
              }
            }
          </div>
          <mat-divider />
        </a>
      } @empty {
        <ogm-no-data-message>No galleries</ogm-no-data-message>
      }
    </div>
  } @else {
    <mat-progress-bar mode="indeterminate" />
  }
</div>
