@import 'variables';
@import 'extends';

:host {
  @extend %flex-fill-overflow;

  .tags {
    width: 340px;
    display: flex;

    ogm-tags {
      padding-right: 16px;
    }

    .divider {
      margin-right: 16px;
    }
  }

  .galleries {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .filter-form {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
      margin-bottom: 16px;

      .filter-query {
        flex-grow: 1;
        min-width: 320px;
      }

      .rest-form {
        display: flex;
        margin-top: 8px;
        column-gap: 8px;
      }
    }

    .gallery-list {
      flex-grow: 1;
      overflow: auto;

      .gallery-link {
        text-decoration: inherit;
        color: inherit;

        .gallery {
          padding: 16px 0;
          cursor: pointer;

          &:hover {
            background-color: rgba($color-on-background-rgb, 0.1);
          }

          .tag-chip {
            font-size: 12px;
            margin-left: 8px;
            height: 20px;
          }

          .metadata-chip {
            font-size: 12px;
            margin-right: 8px;
            margin-top: 8px;
            height: 20px;
          }

          .gallery-name {
            margin: 0;
          }
        }
      }
    }
  }
}
