@if (mediaQueryService.isMinimumDesktopLayout$ | async) {
  <div class="tags">
    <ogm-tags (tagClicked)="addTagToQuery($event)" />

    <mat-divider [vertical]="true" class="divider" />
  </div>
}

<div class="galleries">
  <form [formGroup]="filterForm" (submit)="findGalleries()" class="filter-form vertical-center">
    <ogm-filter-query-input #queryInput formControlName="filter" class="filter-query" />
    <div class="rest-form">
      <button mat-raised-button color="primary" type="submit">Apply filter</button>
      <mat-checkbox formControlName="randomizeOrder">Randomize order</mat-checkbox>
    </div>
  </form>

  @if ((loading | async) === false) {
    <ogm-autocomplete-input isSearchInput [formControl]="searchControl" class="gallery-search-field" />
    <div class="gallery-list">
      @for (gallery of galleries | async; track gallery.id; let isFirst = $first) {
        @if (isFirst) {
          <mat-divider />
        }
        <a [routerLink]="'/galleries/' + gallery.id" class="gallery-link">
          <ogm-gallery-list-item [gallery]="gallery" />
          <mat-divider />
        </a>
      } @empty {
        <ogm-no-data-message>No galleries</ogm-no-data-message>
      }
    </div>
  } @else {
    <mat-progress-bar mode="indeterminate" />
  }
</div>
