<h1 class="title vertical-center">
  <a routerLink="/galleries" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="hide">Galleries</a>
  <span routerLink="/galleries" [routerLinkActiveOptions]="{ exact: true }" class="hide" routerLinkActive="active">Galleries</span>

  @if (gallery$ | async; as gallery) {
    <mat-icon class="chevron">chevron_right</mat-icon>
    <div class="vertical-center">
      <a [routerLink]="'/galleries/' + gallery.id" routerLinkActive="hide">
        {{ gallery.name?.length > 0 ? gallery.name : 'Unnamed Gallery' }}
      </a>
      <span [routerLink]="'/galleries/' + gallery.id" class="hide" routerLinkActive="active">
        {{ gallery.name?.length > 0 ? gallery.name : 'Unnamed Gallery' }}
      </span>
      @if (mediaQueryService.isMaximumTabletLayout$ | async) {
        <button
          mat-icon-button
          [routerLink]="'/galleries/' + gallery.id"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hide edit-gallery-button small-icon-button"
          routerLinkActive="active"
          matTooltip="Edit Gallery"
          (click)="openDetailsSidebar()">
          <mat-icon>edit</mat-icon>
        </button>
      }
    </div>
  }

  @if (loadingGallery$ | async) {
    <mat-spinner [diameter]="24" class="updating-spinner" />
  }
</h1>
