@use 'variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .item mat-icon {
    margin-right: 16px;
  }

  .active {
    background-color: rgba(vars.$color-primary-rgb, 0.3);
  }

  .collection-select {
    margin: 16px;
  }
}
