@import 'variables';

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color-on-background-rgb, 0.5);
  z-index: 100;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $side-space-width;
  box-sizing: border-box;

  .deletion-message {
    color: $background-color;
    font-weight: bold;
  }
}
