@if (!((filteredImagesSubject | async)?.length > 0) && !(loading$ | async)) {
  <ogm-no-data-message>No images</ogm-no-data-message>
}

@if ((selectedImageIdsSubject | async).length > 0) {
  <form [formGroup]="addTagsForm" class="add-tags-form" (submit)="addTags()" #tagsForm="ngForm">
    <ogm-autocomplete-chip-list-input
      class="tags-input"
      formControlName="tags"
      labelText="Tags to add"
      [options]="allTags"
      [optionValue]="getTagName"
      [optionDisplayValue]="getTagName" />
    <div class="rest-form">
      <button mat-raised-button color="primary" type="submit" [disabled]="!addTagsForm.valid">Add Tags</button>
      <button mat-flat-button type="button" (click)="deselectAll()">Deselect all</button>
      <mat-checkbox [formControl]="onlyShowSelected">Only show selected</mat-checkbox>
    </div>
  </form>
}

<div class="images-list-scroll-container" #imageList>
  <div class="images-list" ogmFlexResizable (resizeHorizontal)="resizeColumn($event)">
    @for (column of columns(); track column; let i = $index) {
      <div class="column">
        @for (image of filteredImagesSubject | async; track image.id; let j = $index; let count = $count) {
          @if (j % numberOfColumns() === i) {
            <div class="image-container">
              @defer (on viewport) {
                <a [routerLink]="imageDetailsBaseRoute + image.id" class="thumbnail-link">
                  <ogm-image-thumbnail [image]="image" (loaded)="loaded(j, count)" />
                </a>
                <mat-checkbox
                  (change)="toggleSelection($event, image)"
                  [checked]="isImageSelected$(image) | async"
                  class="selection-checkbox"
                  [ngClass]="{ show: isImageSelected$(image) | async }" />
              } @placeholder {
                <div class="placeholder">Loading...</div>
              }
            </div>
          }
        }
      </div>
      @if ((filteredImagesSubject | async)?.length > 0) {
        <div class="flex-resizer" ogmFlexResizer>
          <mat-icon>arrow_range</mat-icon>
        </div>
      }
    }
  </div>
</div>

@if (loading$ | async) {
  <mat-progress-bar mode="indeterminate" />
}

<div class="auto-scroll vertical-center">
  <mat-slider [min]="0" [max]="1" [step]="0.01" color="accent" class="auto-scroll-speed">
    <input [(ngModel)]="scrollSpeed" matSliderThumb />
  </mat-slider>
  <button mat-fab (click)="toggleAutoScroll()" class="auto-scroll-button">
    <mat-icon>{{ isScrollingPaused ? 'play_arrow' : 'pause' }}</mat-icon>
  </button>
</div>
