<div class="images-list">
  @if ((images$ | async)?.length > 0 && (images$ | async); as images) {
    @for (column of columns; track column; let i = $index) {
      <div class="column">
        @for (image of images; track image.id; let j = $index) {
          @if (j % columns.length === i) {
            @defer (on viewport) {
              <a [routerLink]="imageDetailsBaseRoute + image.id" class="image-link">
                <ogm-image-thumbnail [image]="image" class="image-thumbnail" (loaded)="loaded(j, images.length)" />
              </a>
            } @placeholder {
              <div class="placeholder">Loading...</div>
            }
          }
        }
      </div>
    }
  } @else if (!(loading$ | async)) {
    <ogm-no-data-message>No images</ogm-no-data-message>
  }
</div>

@if (loading$ | async) {
  <mat-progress-bar mode="indeterminate" />
}
