@import 'extends';

:host {
  @extend %flex-fill-overflow;
  flex-direction: column;

  .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .images-list {
    display: flex;
    flex-grow: 1;
    column-gap: 8px;

    .column {
      display: flex;
      flex-grow: 1;
      width: 1px;
      flex-direction: column;
      row-gap: 8px;

      .image-link {
        width: 100%;

        .image-thumbnail {
          width: 100%;
        }
      }
    }
  }
}
