@use 'variables' as vars;

header {
  margin: 0 vars.$side-space-width;
  height: 64px;

  .title {
    margin: 0;
  }

  .divider {
    margin: 0 16px;
    height: 80%;
  }

  ogm-nav-item {
    margin-right: 8px;
  }

  .collection-select, .theme-button {
    margin-left: 8px;
  }

  .collection-select {
    width: 160px;
  }

  .menu-button {
    margin-right: 8px;
  }
}
