<a target="_blank" [href]="image.imageUrl" class="image-link">
  @if (image.pureImageUrl?.length > 0) {
    <img [src]="image.pureImageUrl" alt="Image" class="image" (load)="this.fullImageLoaded = true" [ngClass]="{ hide: !fullImageLoaded }" />
  }
  @if (!fullImageLoaded) {
    <img [src]="image.thumbnailUrl" alt="Image" class="image" />
  }
</a>

@if (!fullImageLoaded && image.pureImageUrl?.length > 0) {
  <div class="loading-indicator vertical-center">
    Loading full image
    <mat-progress-spinner diameter="16" mode="indeterminate" class="spinner" />
  </div>
}
