@import 'extends';

:host {
  @extend %flex-fill-overflow;
  flex-direction: column;
  width: 100%;

  .name-form-field {
    width: 100%;
  }

  .metadata-form-field {
    width: 100%;
    margin: 8px 0;
  }

  .edit-url {
    margin-top: 8px;
    display: inline-block;

    .edit-url-icon {
      margin-left: 4px;
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
    }
  }

  .tag-icon {
    margin-right: 4px;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .no-tags {
    margin-left: 8px;
  }

  .delete-button {
    margin-top: 8px;
  }
}
