@import 'extends';

:host {
  @extend %flex-fill-overflow;

  .tags-and-metadata {
    width: 340px;
    display: flex;

    ogm-gallery-tags-and-metadata {
      padding-right: 16px;
    }

    .divider {
      margin-right: 16px;
    }
  }

  .images {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .filter-form {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
      margin-bottom: 16px;

      .filter-query {
        flex-grow: 1;
        min-width: 320px;
      }

      .rest-form {
        display: flex;
        margin-top: 8px;
        column-gap: 8px;
      }
    }
  }
}
