@import 'extends';

:host {
  @extend %flex-fill-overflow;

  .gallery-details-container {
    @extend %flex-fill-overflow;

    .sidebar {
      width: 320px;
      max-width: 80%;

      .sidebar-details {
        display: block;
        padding: 8px;
      }
    }

    .sidebar-content {
      @extend %flex-fill-overflow;

      .tags-and-metadata {
        width: 340px;
        min-width: 340px;
        height: 100%;
        display: flex;

        ogm-gallery-tags-and-metadata {
          padding-right: 16px;
        }

        .divider {
          margin-right: 16px;
        }
      }

      .images {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .filter-form {
          display: flex;
          flex-wrap: wrap;
          column-gap: 16px;
          margin-bottom: 16px;

          .filter-query {
            flex-grow: 1;
            min-width: 320px;
          }

          .rest-form {
            display: flex;
            margin-top: 8px;
            column-gap: 8px;
          }
        }
      }
    }
  }

  .delete-overlay {
    margin-top: -8px;
  }
}
