@use '@angular/material' as mat;
@use 'variables' as vars;

@include mat.elevation-classes();
@include mat.app-background();

:root {
  @include vars.setCSSProperties(vars.$ui-dark-theme);

  @include vars.setCSSProperty(--side-space-width, 32px);

  @media screen and (max-width: vars.$screen-size-desktop - 1) {
    @include vars.setCSSProperty(--side-space-width, 16px);
  }

  @media screen and (min-width: vars.$screen-size-desktop) {
    @include vars.setCSSProperty(--side-space-width, 32px);
  }

  @include mat.all-component-themes(vars.$ui-dark-theme);
}

.light-theme {
  @include vars.setCSSProperties(vars.$ui-light-theme);
  @include mat.all-component-colors(vars.$ui-light-theme);
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: vars.$background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(vars.$color-on-background-rgb, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(vars.$color-on-background-rgb, 0.5);
}
